@model WordPuzzleScorer.UI.Models.ScoreViewModel

<h2>Score</h2>

<table class="table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Bonus</th>
            <th>IsValid</th>
            <th>Score</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>@Model.TotalScore</td>
        </tr>
    </tfoot>
    <tbody>
    @foreach (var wordScore in @Model.WordScores)
    {
        <tr>
            <td>@wordScore.Word</td>
            <td>
                @if (wordScore.LetterBonusIndexes.Any())
                {
                    for (int i = 0; i < wordScore.LetterBonusIndexes.Count(); i++)
                    {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                }
            </td>

            <td>
                @if (@wordScore.IsValid)
                {
                    <span class="glyphicon glyphicon-ok"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove"></span>
                }

            </td>
            <td>@wordScore.TotalScore</td>
        </tr>
    }
    </tbody>
</table>

<input type="button" class="btn btn-primary" value="Play again" id="playAgainButton" />

@section scripts
{
    <script>

        $(function () {

            $('#playAgainButton').click(function () { window.location = 'Index'; });

    });

    </script>
}

